html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* щоб приховати випадковий горизонтальний скрол */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
  scroll-behavior: smooth;
  color: #333;
  transition: all 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.main-layout {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;

  background: url('../public/main.jpg') no-repeat center center;
  background-size: cover;
}

.main-logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  flex-wrap: wrap;
  text-align: center;

  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 20px;

    img {
        width: 100%;
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); }
  }
  

  .main-logo-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
  }

  
}
/* HEADER */
.lang-button {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 6px 12px;
  background-color: transparent;
  border: 2px solid #dabfbf;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  z-index: 100;
}

.lang-button {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 6px 12px;
  background-color: transparent;
  border: 2px solid #dabfbf;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  z-index: 100;
}

.lang-button:hover {
  background: linear-gradient(135deg, #fce4ec, #e3f2fd);
  box-shadow: 0 4px 12px rgba(99, 108, 111, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: linear-gradient(135deg, #fce4ec, #e3f2fd);
  box-shadow: 0 4px 12px rgba(173, 216, 230, 0.2);
  border-radius: 0 0 20px 20px;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  animation: fadeIn 1s ease-out;
  margin-bottom: 20px;
}

.header-logo {
  font-size: 28px;
  font-weight: 600;
  color: #d16ba5;
  font-family: "Poppins", "Segoe UI", sans-serif;
  text-align: center;
  line-height: 1.5;
  animation: fadeIn 1.2s ease-in-out;
  text-shadow: 0 2px 4px rgba(255, 182, 193, 0.4);
  background: linear-gradient(to right, #0b6fc0, #ce93d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}

.couple-names {
  font-size: 20px;
  font-weight: 500;
  color: #5e548e;
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nav-button {
  background: transparent;
  border: 2px solid rgb(55, 143, 198);
  color: #304dd1;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #fdf9f9;
  border-color: #c218b4;
  color: #cc34da;
}

.logout-button {
  background: linear-gradient(135deg, #f48fb1, #81d4fa);
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logout-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(129, 212, 250, 0.3);
}

/* MAININFO */
.main-info {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(173, 216, 230, 0.25);
  text-align: center;
  font-family: "Poppins", sans-serif;
  animation: fadeIn 1.2s ease;
  color: #5e548e;
}

.main-text {
  width: 50%;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.7;
  color: #6a5acd;
}

.event-info h3 {
  font-size: 22px;
  color: #b388eb;
  margin-bottom: 20px;
}

.event-info ul {
  list-style: none;
  padding: 0;
  font-size: 17px;
  color: #4a4a8a;
}

.event-info li {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(179, 136, 235, 0.2);
  transition: background 0.3s ease;
}

.event-info li:hover {
  background: rgba(250, 250, 255, 0.9);
}

.couple-names {
  font-size: 20px;
  font-weight: 600;
  color: #d16ba5;
}


/* LOGIN */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  max-width: 400px;
  /* або інше значення, залежно від дизайну */
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(173, 216, 230, 0.4);
  font-family: "Poppins", "Segoe UI", sans-serif;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: fadeIn 1s ease-out;
}


.login-container h2 {
  color: #b388eb;
  font-size: 28px;
  margin-bottom: 30px;
  animation: slideDown 0.8s ease-in-out;
}

.login-container label {
  display: block;
  color: #7c4dff;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 0 5px rgba(173, 216, 230, 0.2);
  font-size: 16px;
  transition: all 0.3s ease;
}

.login-container input:focus {
  outline: none;
  background: #fff;
  box-shadow: 0 0 0 3px rgba(179, 136, 235, 0.3);
}

.login-container button {
  background: linear-gradient(135deg, #f48fb1, #81d4fa);
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container button:hover {
  /* transform: translateY(-3px); */
  box-shadow: 0 6px 18px rgba(129, 212, 250, 0.4);
}

.login-container p {
  margin-top: 20px;
  color: #6a5acd;
  font-size: 17px;
  animation: fadeIn 0.6s ease-in;
}

.welcome-name {
  color: #5f89d1 !important;
  font-size: 28px !important;
  margin-bottom: 20px;
  animation: fadeIn 0.8s ease-in;
}

/* LOCATION */
.location-address {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(173, 216, 230, 0.25);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 20px auto;
}

/* CONFIRM */
.confirm-container {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  background: linear-gradient(135deg, #9ab6ca, #f9c5d1);
  padding: 20px;
  border-radius: 8px;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

/* Анімації */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ABOUT US */

.about-us {
  margin: 40px auto;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(173, 216, 230, 0.25);
  font-family: "Poppins", sans-serif;
  text-align: center;
  animation: fadeIn 1.2s ease;
  color: #5e548e;
}

.about-title {
  font-size: 28px;
  margin-bottom: 24px;
  color: #b388eb;
  animation: slideDown 0.8s ease-in-out;
}

.about-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #6a5acd;
}

.about-names {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #d16ba5;
  animation: fadeIn 1s ease-in;
}

/* Бургер кнопка - за замовчуванням прихована */
.burger-button {
  display:flex;
  align-items: center;
  justify-content: center;
  padding:0 10px;
  border-radius: 10%;
  background: linear-gradient(135deg, #fce4ec, #e3f2fd);
  border: 2px solid #716767;
  box-shadow: 0 4px 12px rgba(21, 24, 24, 0.7);
  cursor: pointer;
}

/* Смуги бургеру */
.burger-button span {
  display: block;
  height: 3px;
  background-color: #7c4dff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.confirmed{
  background: rgba(205, 71, 165, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
.red{
  color: #e21418;
}

/* Мобільні стилі */
@media (max-width: 600px) {

  /* Показати бургер кнопку */
  .burger-button {
    display: flex;
  }

  /* Ховаємо навігацію по замовчуванню */
  .header-nav {
    position: fixed;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgba(239, 233, 239, 0.9);
    box-shadow: 0 4px 12px rgba(173, 216, 230, 0.2);
    border-radius: 10px 0 20px 20px;
    z-index: 1000;
    transform: translateX(0);
    top: 200px;
    left: 30px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .header-nav.open {
    transform: translateX(0);
    width: 60%;
  }

  /* Кнопки в меню */
  .nav-button {
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 12px 20px;
  }

  /* Logout button теж на всю ширину */
  .logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100px !important;
    padding: 12px 10px;
  }
}

/* ADMIN */
.admin-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(173, 216, 230, 0.25);
  text-align: left;
}

/* Мобільна адаптація */
@media (max-width: 600px) {
  .main-logo{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main-logo-text {
    width: 100% !important;
    text-align: center;
  }
  .img-container{
    width: 100% !important;

    img{
      width: 100%;
      height: auto;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
  }
  .header-container {
    padding: 12px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header-logo {
    font-size: 20px;
  }

  .header-nav {
    width: 100%;
    gap: 10px;
    overflow-x: auto;
  }

  .nav-button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .logout-button {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
  }

  .main-info {
    width: 90%;
    margin: 20px auto;
  }

  .main-text {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .main-logo{
    padding: 0;
  }

  .event-info h3 {
    font-size: 20px;
  }

  .event-info ul {
    font-size: 15px;
  }

  .event-info li {
    padding: 12px;
    margin-bottom: 16px;
  }

  .couple-names {
    font-size: 18px;
  }



  .login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .login-container label {
    font-size: 13px;
  }

  .login-container input {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .login-container button {
    font-size: 15px;
    padding: 10px 20px;
  }

  .login-container p {
    font-size: 15px;
  }

  .welcome-name {
    font-size: 24px !important;
  }

  .about-us {
    width: 90%;
    margin: 30px auto;
    padding: 30px 20px;
  }

  .about-title {
    font-size: 24px;
  }

  .about-text {
    font-size: 16px;
  }

  .about-names {
    font-size: 18px;
  }
}